{% extends "base.html" %}



{% block content %}


<div class="jumbotron">
  <div class="container">
    <h1>ЗАО "АТМ-Сервис"</h1>
    <p>Создание автоматизированных систем управления технологическими процессами (АСУ ТП).
    <br> 
    Проектирование, строительство и пусконаладка АСУ ТП нефтегазодобывающего производства и систем электрообогрева. 
    <br>
    Полный комплекс работ: от предпроектного обследования объекта до сдачи в промышленную эксплуатацию.</p>
  </div>
</div>

	
<p>Закрытое акционерное общество «АТМ-Сервис» – инжиниринговая компания, занимающаяся созданием автоматизированных систем управления технологическими процессами (АСУ ТП). Основное направление деятельности – проектирование и строительство АСУ ТП нефтегазодобывающего производства. При создании АСУ ТП выполняется полный комплекс работ: от предпроектного обследования объекта до сдачи в промышленную эксплуатацию.</p>

<p>С момента зарождения фирмы (февраль 1996 года) силами специалистов, работающих по настоящее время на предприятии, было выполнено проектирование и построено более 30 объектов. Среди них - различные технологические установки: от скважин до приемо-сдаточных пунктов нефти. При создании АСУ ТП проектирование ведется по всем составляющим: от КИПиА до программного обеспечения и систем связи. Правильно подобранное оборудование, предназначенное для работы в АСУ ТП, в совокупности с принимаемыми инженерными решениями гарантирует успешную работу технологического объекта в целом.</p>

<p>Руководящий состав предприятия обладает многолетним опытом работы в области измерительных и автоматизированных систем, полученным на предприятиях нефтегазовой промышленности. Ведущие специалисты предприятия прошли успешное обучение и обладают сертификатами фирм-изготовителей оборудования, используемого при построении АСУ ТП (Siemens, Auma, Альбатрос).</p>

<p>Молодые специалисты, принимаемые на предприятие после окончания ВУЗа привлекаются к работе еще будучи студентами.</p>

Цели, которые ставит перед собой компания - развитие бизнеса Заказчика на основе предлагаемых решений в области информационных технологий, измерительных систем, автоматизированных систем управления и систем связи.

ЗАО «АТМ-Сервис» предлагает свои услуги по выполнению комплекса или отдельных видов работ по созданию АСУ ТП от обследования объектов и постановки задачи до сдачи в эксплуатацию и гарантийного (сервисного) обслуживания.
</p>

{% endblock content %}